<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head'); %>

<body>
  <!-- importa header -->
  <%- include('./partials/header'); %>
  <div class="author_body">
    <section class="vip-products">

      <!--caja contenedora de productos-->
      <div class="container">
        <section>
          <div class="row productos">

            <% authors.forEach(author => { %>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="contenido">
                <figure>
                  <a href=""><img src="/images/authors/<%= author.image %>" alt=""></a>
                </figure>
                <article>
                  <P>
                    <%= author.name %>
                  </P>
                </article>
              </div>
            </div>

            <% }) %>

            </header>


            <!-- importa footer -->
            <%- include('./partials/footer') %>

</body>

</html>