<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head'); %>

<body>
  <!-- importa header -->
  <%- include('./partials/header'); %>

  
  
  <div class="container">
    <section class="vip-products">

      <!--caja contenedora de productos-->
    <div class="container">
      <section>
        <div class="row productos">

          <div class="col-12 titulo">
            <h2>Panel de Administracion - <a href="/product/add">Agregar Nuevo</a></h2>
          </div>
          
          <% products.forEach(product => { %>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="contenido">
                <figure>
                  <a href=""><img src="/images/libros/<%= product.image %>" alt=""></a>
                </figure>
                  <div class="name">
                    <h2> <%= product.name %> </h2>
                  </div>
                    <!-- boton editar -->
                  <div>
                    <form action="/product/edit/<%= product.id %>" method="GET">
                      <button class="btn btn-info btn-12 btn-block" type="submit" name="id" value="<%= product.id %>" id="editButton">Editar</button>  
                    </form>
                  </div>
                  <div>
                    <!-- boton eliminar -->
                    <form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST" id="deleteFormProductList" >
                      
                      <button class="btn btn-danger btn-12 btn-block deleteButtonProductList" type="submit" name="id" value="<%= product.id %> " id="deleteButton">Eliminar</button> 
                    </form>
                  </div >
              </div>
            </div>
            <% }) %> 

  </header>


  <!-- importa footer -->
  <%- include('./partials/footer') %>

</body>

</html>