<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
  <%- include('./partials/header'); %>
    <!-- 
      CONTENIDO 
    -->

    <section class="container">
      <article class="row">
          <!-- COLUMNA 1 -->
          <div class="col-md-2"></div>
          <!-- COLUMNA 2 -->
          <div class="col-12 col-md-8">
              <h1>Editando producto: <%= products.name %> #<%= products.id %>  </h1>
              <hr>
              <!-- FORMULARIO -->  
             
              <form action="/product/edit/<%= products.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <!-- CATEGORIAS -->                   
                
                <div class="form-group">
                    <label for="category">Categorías</label>
                    <select class="form-control" id="category" name="category" >
                      <% category.forEach(categories => { %>
                        <% if(categories.id == products.category_id) { %>
                          <option value="<%= categories.id %>" selected>
                              <%= categories.name %>
                          </option>
                      <% } else { %>
                          <option value="<%= categories.id %>">
                              <%= categories.name %>
                          </option>  
                      <% } %>                      
                      <% }) %>
                    </select>
                </div>
                <!-- SECCION -->
                <div class="form-group">
                  <label for="section">Seccion</label>
                  <select class="form-control" id="section" name="section" ><%=products.section%>
                    <option value="masVendidos">Más vendidos</option>
                    <option value="ultimaVisita">Última visita</option>
                  </select>
              </div>                  
                <!-- TITULO -->
                <div class="form-group">
                    <label for="name">Titulo</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Agregar un titulo" value="<%= (typeof old != 'undefined' && old.name)?old.name: products.name %>">
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %></small>
                </div>
                <!-- AUTOR -->
                <div class="form-group">
                    <label for="author">Autor</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Agregar un Autor" value="<%= (typeof old != 'undefined' && old.author)?old.author: products.author %>">
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.author)?errors.author.msg: "" %></small>
                </div> 
                <!-- DESCRIPCION DEL PRODUCTO -->
                <div class="form-group">
                    <label for="review">Descripcion Del producto</label>
                    <textarea class="form-control" id="review" name="review" rows="3" placeholder="Agregar una Descripcion Del producto">
                      <%= (typeof old != 'undefined' && old.review)?old.review: products.review %> 
                    </textarea> 
                </div>
                <!-- SUBIR IMAGENES -->
                <div class="form-group">
                    <label for="image">Subir Imagenes</label>
                    <input type="file" class="form-control-file" id="image" name="image"> <!-- no funciona   value="< %=products.file%>"    -->
                    <input type="hidden" id="imagen" value="<%= products.file %>" >
                </div>
                <!-- PRECIO -->
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Agregar Precio" value="<%= (typeof old != 'undefined' && old.price)?old.price: products.price %>">
                    <small class="text-danger"><%= (typeof errors != 'undefined' && errors.price)?errors.price.msg: "" %></small>
                </div>
                <!-- DESCUENTO -->
                <div class="form-group">
                  <label for="discount">Descuento</label>
                  <input type="text" class="form-control" id="discount" name="discount" placeholder="Agregar Descuento" value="<%= (typeof old != 'undefined' && old.discount)?old.discount: products.discount %>">
                  <small class="text-danger"><%= (typeof errors != 'undefined' && errors.discount)?errors.discount.msg: "" %></small>
              </div>
              <!-- rating -->
              <div class="form-group">
                <label for="rating">rating</label>
                <input type="text" class="form-control" id="rating" name="rating" placeholder="Agregar rating" value="<%= (typeof old != 'undefined' && old.rating)?old.rating: products.rating %>" >
                  <small class="text-danger"><%= (typeof errors != 'undefined' && errors.rating)?errors.rating.msg: "" %></small>
              </div>                                 
              <!-- Boton Guardar -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
            </form>
            <!-- FIN FORMULARIO -->
            <!-- Boton Eliminar-->
            <!--
            <form action="/product/delete/<%= products.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-secondary mb-2 ">Borrar Formulario</button>                     
            </form>
             -->
          </div>
          <!-- COLUMNA 3 -->
          <div class="col-md-2"></div>
      <!-- FIN ROW -->    
      </article>
  <!-- FIN CONTAINER -->    
  </section>
        
    <!-- 
      FIN DEL CONTENIDO 
    -->

    <!-- importa footer -->
    <%- include('./partials/footer') %>
  <!-- scripts de bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js "
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj "
    crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js "
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI "
    crossorigin="anonymous "></script>
</body>

</html>