<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
    <!-- importa header -->
    <%- include('./partials/header'); %>

    <!-- 
      CONTENIDO 
    -->

    <section class="container product-body">
      <article class="row">
          <!-- COLUMNA 1 -->
          <div class="col-lg-2"></div>
          <!-- COLUMNA 2 IMAGENES -->
          <!-- <div class="d-none d-sm-none d-md-none d-md-block col-lg-1"> -->
          <div class="d-none d-lg-block col-lg-1">
              <figure><img src="/images/libros/<%= product.image %>" alt="" class="img-tapa-miniatura"></figure>
              <figure><img src="/images/libros/<%= product.image %>" alt="" class="img-tapa-miniatura"></figure>
              <figure><img src="/images/libros/<%= product.image %>" alt="" class="img-tapa-miniatura"></figure>
              <figure><img src="/images/libros/<%= product.image %>" alt="" class="img-tapa-miniatura"></figure>
          </div>
          <!-- COLUMNA 3 TAPA LIBRO -->
          <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
              <figure><img src="/images/libros/<%= product.image %>" alt="" class="img-tapa"></figure>
          </div>
          <!-- COLUMNA 4 DESCRIPCION -->
          <div class="col-12 col-sm-6 col-lg-6  col-xl-4">
            <h1><%= product.author %></h1>
            <p><%= product.name %></p>
            <h2>Sinopsis</h2>
            <p>
              <%= product.review %>
            </p>
              <!-- ICONO DE ESTRELLAS -->
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
              </svg>                                
          </div>                        
          <!-- COLUMNA 5 -->
          <div class="col-lg-1"></div>
      <!-- FIN ROW -->    
      </article>
      <article class="row article-footer">
          <!-- COLUMNA 1 -->
          <div class="col-lg-2"></div>
          <!-- COLUMNA 2 -->
          <div class="col-12 col-sm-3 col-lg-2">
              <!-- PRECIO --> 
              <span class="formato-precio">$<%= product.price %></span>
          </div>
          <!-- COLUMNA 3 -->    
          <div class="col-6 col-sm-3 col-lg-2">
              <!-- BUTTON DE COMPRAR --> 
              <a href="/cart">
                <button type="button" class="btn btn-primary button-compras">Comprar</button>
              </a>
          </div> 
          <!-- COLUMNA 4 -->
          <div class="col-3 col-sm-3 col-lg-1">
              <!-- ICONO FAVORITO --> 
              <a href="" class="color-link">
              <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              </a>
          </div> 
           <!-- COLUMNA 5 -->
          <div class="col-3 col-sm-3 col-lg-1"> 
              <!-- ICONO DE CARRITO --> 
              <a href="/user/cart" class="color-link">
              <svg width="25" height="25" viewBox="0 0 16 16" class="bi bi-cart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              </a>
          </div> 
          <!-- COLUMNA 6 -->
          <div class="col-lg-1"></div>                
      <!-- FIN ROW -->
      </article>
  <!-- FIN CONTAINER -->
  </section >    
      
    <!-- 
      FIN DEL CONTENIDO
     -->

    <!-- importa footer -->
    <%- include('./partials/footer') %>

  </body>

  </html>