<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head'); %>

<body>
  <!-- contenido -->
  <%- include('./partials/header'); %> 

  <div class="container register-body">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-12 col-md-6 col-lg-6 register-register">
              <h2>Registrate </br>¡Es fácil y rápido!</h2>

                <form action="" method="POST" class="box" id="registerForm">

                  <input  type="text" class="form-control <%= (typeof old != 'undefined' && old.firstname && !errors.firstname)?" is-valid ":
                  (typeof errors != 'undefined' && errors.firstname)?"is-invalid ":
                  '' %>" id="firstname" aria-describedby="firstnameHelp" value="<%= (typeof old != 'undefined' && old.firstname)?old.firstname:'' %>" id="firstname" name="firstname" placeholder="Nombre">
                  <h6
                  class="text-danger" id="firstnameError" > <%= (typeof errors != 'undefined' && errors.firstname)?errors.firstname.msg: "" %>
                </h6>

                
                  <input type="text" class="form-control <%= (typeof old != 'undefined' && old.lastname && !errors.lastname)?" is-valid ":
                  (typeof errors != 'undefined' && errors.lastname)?"is-invalid ":
                  '' %>" id="lastname" aria-describedby="lastnameHelp" value="<%= (typeof old != 'undefined' && old.lastname)?old.lastname:'' %>" id="lastname" name="lastname" placeholder="Apellido">
                  <h6
                  class="text-danger" id="lastnameError"><%= (typeof errors != 'undefined' && errors.lastname)?errors.lastname.msg: "" %>
                </h6>


                  <input type="number" class="form-control <%= (typeof old != 'undefined' && old.dni && !errors.dni)?" is-valid ":
                  (typeof errors != 'undefined' && errors.dni)?"is-invalid ":
                  '' %>" id="dni" aria-describedby="dniHelp" value="<%= (typeof old != 'undefined' && old.dni)?old.dni:'' %>" id="dni" name="dni" placeholder="DNI">
                  <h6
                  class="text-danger" id="dniError"><%= (typeof errors != 'undefined' && errors.dni)?errors.dni.msg: "" %>
                </h6>


                  <input type="text" class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?" is-valid ":
                  (typeof errors != 'undefined' && errors.email)?"is-invalid ":
                  '' %>" id="email" aria-describedby="emailHelp" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" id="email" name="email" placeholder="Correo electrónico">
                  <h6
                  class="text-danger" id="emailError"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %>
                </h6>


                  <input type="password" class="form-control <%= (typeof old != 'undefined' && old.password && !errors.password)?" is-valid ":
                  (typeof errors != 'undefined' && errors.password)?"is-invalid ":
                  '' %>" id="password" aria-describedby="passwordHelp" value="<%= (typeof old != 'undefined' && old.password)?old.password:'' %>" id="password" name="password" placeholder="Contraseña">
                  <h6
                  class="text-danger" id="passwordError"><%= (typeof errors != 'undefined' && errors.password)?errors.password.msg: "" %>
                </h6>


                  <input type="password" class="form-control <%= (typeof old != 'undefined' && old.passwordRepeat && !errors.passwordRepeat)?" is-valid ":
                  (typeof errors != 'undefined' && errors.passwordRepeat)?"is-invalid ":
                  '' %>" id="passwordRepeat" aria-describedby="passwordRepeatHelp" value="<%= (typeof old != 'undefined' && old.passwordRepeat)?old.passwordRepeat:'' %>" id="passwordRepeat" name="passwordRepeat" placeholder="Repita su contraseña">
                  <h6
                  class="text-danger" id="passwordError2"><%= (typeof errors != 'undefined' && errors.passwordRepeat)?errors.passwordRepeat.msg: "" %>
                </h6>

                
                  <input type="submit" value="Registrarse">


              </form>
          </div>
          <div class="col-3"></div>
        </div> <!-- FIN ROW 2-->


    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-media">
        <h5>Registrate con:</h5>                                                       <!-- CSS centrar esto-->
        <ul>
          <li><img src="/images/img-twitter.png" alt=""></li>
          <li><img src="/images/img-facebook.png" alt=""></li>
          <li><img src="/images/img-google+.png" alt=""></li>
        </ul>
      </div>
      <div class="col-3"></div>
    </div> <!-- FIN DE ROW 3-->


    <div class="row">
      <div class="col-3"></div>
      <div class="col-12 col-md-6 col-lg-6  register-login">
        <h6>¿Ya estas registrado? Ingresa ahora.</h6> 
            <a href="/user/login"><button >Ingresar</button></a>
      </div>
      <div class="col-3"></div>
    </div> <!-- FIN DE ROW 4-->
  </div> <!-- Fin de Container-->

  <%- include('./partials/footer') %>

</body>

</html>