<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head'); %>

<body>
  <!-- importa header -->
  <%- include('./partials/header'); %>

  
  
  <div class="container">
    <section class="vip-products">

      <!--caja contenedora de productos-->
    <div class="container">
      <section>
        <div class="row productos">

         
          <% products.forEach(producto => { %>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="contenido">
                <span><%= producto.discount %> %OFF </span>
                <figure>
                  <a href="/product/detail/<%= producto.id %>"><img src="/images/libros/<%= producto.image %>"></a>
                </figure>
                <article>
                  <div class="name">
                    <h2> <%= producto.name %> </h2>
                  </div>
                  <div class="price">
                    <h2>
                      $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    </h2>
                  </div>
                </article>
              </div>
            </div>
  
            <% }) %>

            <% if (products.length == '') { %>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="resultado">
                  <a href="/"><img src="/images/prueba.png" alt=" " width="200"></a>
                  <h2>No hay resultados</h2>
                  <p>Lo sentimos, seguimos trabajando para brindarte lo mejor</p>
                </div>
              </div>             
            <% } %>

  </header>


  <!-- importa footer -->
  <%- include('./partials/footer') %>

</body>

</html>